/**
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

#page-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#header {
    height:80px; 
    width: 100%;
	background-color:#FFFFFF;
}


#main-wrapper {
    position: relative;
    background: white;
}

#capaMenuArriba {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 75px;
    //border: 1px solid gray;
    //    background: red;
}

#tablaMenuArriba {
    display:table; 
    width: 100%;
}

.menuArriba {
    display:table-row; 
}

.elementoMenuArriba {
    display:table-cell; 
    width:6%; /* 100/6 elementos = 18 ?????¿¿ */
    text-align:center;
    //background: red;
}

.elementoMenuArriba img{
    height: 45px;
    width: 50px;
}


.separador{
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    padding-top:10px;
}


#content {
    width: 100%;
    margin-left: 0; /* LTR */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
    margin-top: 5em; /* Set this to the same value as the capaMenuArriba height above. */
    //background:red;
}

#content .section {	
    margin-left: 30px;
    margin-right: 10px;
    width: 95%;
}


/*Menu secundario*/
.columna1 {
    float:left;
    width:15%;
    //background:blue;
}

#logoMenu{
    display:inline;
    margin-bottom:10px;
}


#menuSecundario {
    margin-left:-10%;
    margin-top:30%;
    width:70%; 
    margin-bottom:20%;
}

.elementoMenuSecundario img {
    height: 45px;
    width: 50px;
    display: block;
    margin: auto;
}


/*Fin de Menu secundario*/

.columna2 {
    float:left;
    width:85%;
    //background:red;
}

#textoCuerpo{
    margin-top:5%;
    //background:yellow;
}

#textoCuerpo p:first-child:first-letter{
    text-transform:capitalize;
    font-size:140%;
    color:red;
}

.clear-block {
    display: inline-block;
}

/* Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html ) */
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#logoSeccion{
    height: 50px;
    width: 50px;  
}


.body_text{
    padding-left: 20px;
    padding-top: 5px;
    float: left;
    width: 70%;
    height: 50px;
}

.body_image{    
    width: 18%;
    height: 90%;
    float: right;
    margin-right: 20px;
}


.body_elements{
    width: 45%;
    height: 90px;
    float: left;
    margin-left: 2%;
    padding-top: 10px; 
    margin-top: 40px;
    margin-right: 2%;
}


