#header{
    background:rgb(245,244,242);
    text-align:center;
    margin:30px auto; 
    height:100%;
	background-color:#FFFFFF;
}

#header img{
	width:100%;
}

#capaMenuArriba{
	margin-top:7px;
}

/*Css del body*/
#body{
	background-color:#FFFFFF;
}
.elementoMenuArriba a{
	text-decoration: none;
	text-align:center;
	display:block!important;
    -webkit-transition:-webkit-transform 1s ease-out;
    -moz-transition:-moz-transform 1s ease-out;
    -o-transition:-o-transform 1s ease-out;
    -ms-transition:-ms-transform 1s ease-out;
    transition:transform 1s ease-out;
}

/*Elementos contenidos en el primer menú de la página (el horizontal)*/
.elementoMenuArriba:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.separador{
    border-bottom-color: #8fc6e5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	top:75px;
}

/* ---------------------------------------------- */
/*Camino de hormigas                              */
/* ---------------------------------------------- */
.caminoHormigas {
    display: inline-block;
	margin-top:40px;
    padding-bottom: .5em;
    margin-left: 1%;
    vertical-align:bottom;
}

/* ---------------------------------------------- */
/* Pie de página
/* ---------------------------------------------- */
#footer{
    text-align:center;
    background:rgb(216,216,217);
}

#contacto{
    font-size: x-small;
    font-weight: bold;
    display: inline;
}


#contacto a:link,a:hover, a:focus  {
    text-decoration: none;
	color:#0033FF;
}


/*Menu secundario*/
#logoMenu{
    //background:blue;
    vertical-align:bottom;
}


#menuSecundario {
    border-color: #8fc6e5;
    border-width: 2px;
    border-style: solid;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align:center;
}

.elementoMenuSecundario a {
    text-decoration: none;
    color:#0099CC;
    display:block!important;
    -webkit-transition:-webkit-transform 1s ease-out;
    -moz-transition:-moz-transform 1s ease-out;
    -o-transition:-o-transform 1s ease-out;
    -ms-transition:-ms-transform 1s ease-out;
    transition:transform 1s ease-out;
}

.elementoMenuSecundario:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

#elementoMenuSecundario a:link,a:hover, a:focus  {
    text-decoration: none;
	color:#0033FF;
}

#logoBlog a{
	float:left;
	text-decoration: none;
    color:#0099CC;
    display:block!important;
    -webkit-transition:-webkit-transform 1s ease-out;
    -moz-transition:-moz-transform 1s ease-out;
    -o-transition:-o-transform 1s ease-out;
    -ms-transition:-ms-transform 1s ease-out;
    transition:transform 1s ease-out;
}

#logoBlog:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

#logoBlog a:link,a:hover, a:focus  {
    text-decoration: none;
	color:#0033FF;
}

#logoFacebook a{
	float:left;
	text-decoration: none;
    color:#0099CC;
    display:block!important;
    -webkit-transition:-webkit-transform 1s ease-out;
    -moz-transition:-moz-transform 1s ease-out;
    -o-transition:-o-transform 1s ease-out;
    -ms-transition:-ms-transform 1s ease-out;
    transition:transform 1s ease-out;
}

#logoFacebook:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

#logoFacebook a:link,a:hover, a:focus  {
    text-decoration: none;
	color:#0033FF;
}

