//Cuerpo

#capaMenuArriba {
    text-align:center;
}

.menuPrimario:after {
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
    content: '';
}

.separador{
    border-bottom-color: #8fc6e5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}


.separador2{
    border-bottom-color: #8fc6e5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}


/* ---------------------------------------------- */
/*Camino de hormigas                              */
/* ---------------------------------------------- */
.caminoHormigas {
    display: inline-block;
    padding-bottom: .5em;
    margin-left: 1%;
    vertical-align:bottom;
}

/* ---------------------------------------------- */
/* Pie de página
/* ---------------------------------------------- */
#footer{
    text-align:center;
}

#contacto{
    font-size: x-small;
    font-weight: bold;
    display: inline;
}


#contacto a:link,a:hover, a:focus  {
    text-decoration: none;
    color:black;
}


/*Menu secundario*/
#logoMenu{
    background:blue;
    vertical-align:bottom;
}


#menuSecundario {
    border-color: #8fc6e5;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align:center;
}

.elementoMenuSecundario a {
    text-decoration: none;
}

.elementoMenuSecundario a:hover {
    //background:rgb(245,244,242);
    background: #F9AE5E;
    -moz-transition: background .800s;
    -webkit-transition: background .800s;
    -o-transition: background .800s;
    transition: background .800s;
}

